html,body {
	height: 100%; 
}
.c1 {
	color: white !important;
}
.bg1 {
	background-color:  rgb(137, 92, 255);
}
.bg2 {
	background-color: #00f7cf !important;
}
.bg3 {
	background-color: #03e8f9 !important;
}
.bg4 {
	background-color: gray !important;
}
.bg5 {
	background-color: #24aaff !important;
}
.bg6 {
	background-color: #148cd8 !important;
}
.bg7 {
	background-color: #5b8fb0 !important;
}
.center {
	text-align: center;
}
#header-title {
	margin: 0;
	padding: 10px;
}
#main {
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
footer {
	padding: 15px;
	height: 100%
}
#snap-photo-description {
	padding: 10px;
}
#upload-image {
	padding: 30px;
}
#upload-image-form {
	margin-top: 30px;
}
#failure {
	color: red;
}
#success {
	color: green;
}
#image-submit {
	width: 60px;
	height: 60px;
	border-radius: 100%;
  	border:none;
  	margin: 0 auto;
}
#image-file {
	border-radius: 50px;
	padding: 15px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}